/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
/* File: static/css/custom.css */

/* Buộc hiển thị ô tìm kiếm */
#search {
    display: block !important;
}
#search-toggle {
    display: block !important; 
}